<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% block extra_metatags %}
{% endblock %}
<title>{% block title %}Harrison Chapman{% endblock %}</title>
<link rel="icon" type="image/png" href="/static/images/favicon.png">
<link rel="stylesheet" href="/static/css/reset.css" />
<link rel="stylesheet" href="/static/css/text.css" />
<link rel="stylesheet" href="/static/css/960.css" />
<link rel="stylesheet" href="/static/css/page.css" />
<script src="https://www.google.com/jsapi?key=ABQIAAAAbEpSkJUwwrMm9Q8-Kw6O7BSYsJ9DuGhn0e21mbaKlwAfM4CNERQztA85cMk6lZh2Wk7vy5rCZFavDQ" type="text/javascript"></script>
<script type='text/javascript'>
   google.load("jquery", "1.6.4");
   google.load("jqueryui", "1.8.16");
</script>
{% block extra_scripts %}{% endblock %}
</head>
<body>
  <div id='outer-wrap'>
    <div id='wrap' class='container_12 page'>
      <div class='grid_12 header'<!-- Start header -->
           <h1 class="header_name">Harrison Chapman</h1>
	   <h2 class="header_secondary">
	     Mathematics Graduate Student
	   </h2>
    </div><!-- End header -->
    <div class='clear'></div>
    <div class='grid_12 nav'>
      <div class='grid_3 alpha nav_option'><a href="/main">About Me</a></div>
      <div class='grid_3 nav_option'><a href="/class">Teaching</a></div>
      <div class='grid_3 nav_option'>Research</div>
      <div class='grid_3 omega nav_option'>Other Projects</div>
    </div>
    {% block main_content %}
    
    {% block top_row %}{% endblock %}

    <div class='grid_7 left'><!-- Left-hand column on front page -->
        {% block left_column %}
      Stuff.
        {% endblock %}
    </div><!-- End left-hand column -->
    
    <!-- Right-hand column on front page -->
    <div class='grid_5 right'>
        {% block right_column %}

        {% endblock %}
    </div><!-- End right-hand column -->
    {% endblock %}
    <div class='clear'></div>
    
    <div class='grid_12 footer'>
        {% block footer %}<!-- footer, obviously -->
	<p class="disclaimer">
	  The content and opinions expressed on this webpage, or any subsequent pages do not necessarily reflect the views of nor are they endorsed by the University of Georgia or the University System of Georgia.
	</p>
        &copy; 2011, Harrison Chapman
        {% endblock %}
    </div><!-- end footer -->
</div><!-- End wrap -->
</div><!-- End outer wrap -->
</body>
</html>
