{% extends "base.html" %}

{% block nav_tab_class %}<li class="active">
<a href="/class">Teaching</a>
</li>{% endblock %}

{% block main_content %}
<div class="row">

<div class="span4">
<div class="well" style="padding: 8px 0; margin-bottom:0px;">
<ul class='nav nav-list'>
  <li class="nav-header">Spring 2012</li>
  <li>Math 2200 Recitation (Segars)</li>  

  <li class="nav-header">Fall 2011</li>
  <li>Math 2200 Recitation (Hanke)</li>
</ul>
</div>
</div>

<div class="span8">
  {% block class_content %} 
  This semester (Sping 2013), I have no teaching duties.
  {% endblock %}
</div>

</div>
{% endblock main_content %}
