{% extends "base.html" %}

{% block nav_tab_about %}<li class="active">
<a href="/main">About</a>
</li>{% endblock %}

{% block left_column %}
<div class='thumbnail'>
<img src="/static/img/withknuth.jpg" class="self_picture">
<div class="caption">
<h6>With Dr. Donald Knuth</h6>
Bowdoin College, February 2011
</div>
</div>
{% endblock %}

{% block right_column %}
<h2 class="content">Contact</h2>
<address>
<strong>Harrison Chapman</strong><br>
Department of Mathematics<br>
University of Georgia<br>
Athens, GA 30602
</address>

<p>
<strong>Office:</strong> 427E Boyd Graduate Studies Building<br>
<strong>Office Hours:</strong> TBD<br>
<strong>Email:</strong> hchapman@math.uga.edu
</p>

<h2 class="content">About Me</h2>
<p>I am currently a mathematics graduate student at the University of
  Georgia working towards a Ph.D. degree. During the 2012-2013 school
  year, I was supported by the University of Georgia's VIGRE II
  grant. I graduated from Bowdoin College in May of 2011 with a
  B.A. in Mathematics and Computer Science, with Honors in Mathematics.</p>

<h2 class="content">Teaching</h2>
<p>This semester (Fall 2013) I am teaching MATH1113 Precalculus. There
  is more information <a href="/class">on my website here</a>,
  and <a href="http://www.math.uga.edu/116/1113home.htm">on the course
    webpage here</a>.</p>

<h2 class="content">Research</h2>
<p>My research interests primarily lie within Topology and Geometry. I
  am studying under the direction
  of <a href="http://www.jasoncantarella.com">Jason
  Cantarella</a>.</p>

<h2 class="content">Other Interests</h2>
<p>I like to cook, but I'm not very good at it. It is often difficult
  to get motivated to cook when so much else is
  happening; <a href="http://www.qwantz.com/index.php?comic=2464">this
  logic can be tough to beat some times</a>.</p>
<p>Music is great. So much so that I worked for
  my <a href="http://www.wbor.org">undergraduate radio station</a>
  (although I never DJ'ed my own show...).</p>
<p>I <em>am all about</em> learning how to get computers to do
  everything for me. I'm afraid though that once everything's
  perfectly automated, I'll have nothing left to do... Sometimes I
  publish my programs. There's more on this in
  the <a href="/projects">projects tab</a>.</p>
{% endblock %}
