{% extends "base.html" %}

{% block nav_tab_about %}<li class="active">
<a href="/main">About</a>
</li>{% endblock %}

{% block left_column %}
<div class='thumbnail'>
<img src="/static/img/withknuth.jpg" class="self_picture">
<div class="caption">
<h6>With Dr. Donald Knuth</h6>
Bowdoin College, February 2011
</div>
</div>
{% endblock %}

{% block right_column %}
<h2 class="content">Contact</h2>
<address>
<strong>Harrison Chapman</strong><br>
Department of Mathematics<br>
University of Georgia<br>
Athens, GA 30602
</address>

<p>
<strong>Office:</strong> 643 Boyd Graduate Studies Building<br>
<strong>Office Hours:</strong> No set office hours, but I am
available most hours during most weekdays.<br>
<strong>Email:</strong> hchapman
</p>

<h2 class="content">About Me</h2>
<p>I am currently a mathematics graduate student at the University of
  Georgia working towards a Ph.D. degree. For the 2012-2013 school
  year, I am being supported by the University of Georgia's VIGRE II
  grant. I graduated from Bowdoin College in May of 2011 with a
  B.A. in Mathematics and Computer Science, with Honors in Mathematics.</p>

<h2 class="content">Research</h2>
<p>In the summer of 2010, I took part in an REU where we tried to
  answer questions about Sudoku (with M. Rupert, mentor
  E. Arnold): <a href="http://digitalarchive.gsu.edu/caaurj/vol3/iss1/3/">A
  Group-theoretic Approach to Human Solving Strategies in
  Sudoku</a>. During my senior year at Bowdoin (2010-2011), I wrote an
  Honors thesis on orbital varieties in GL(<em>n</em>) and the Smith
  conjecture (advisor T. Pietraho): <a href="http://bowdoin.aquabrowser.com/?itemid=|library/m/iii-bowdoin|b28667785">On
  orbital varieties of type A</a>.</p>
<p>My present research interests mostly lie within Topology.</p>

<h2 class="content">Interests</h2>
<p>Aside from math, I have a strong interest in computers. I'm always
  tinkering with my Linux machines and moving between small
  programming projects, ranging from websites to Android apps. I love
  open source (and git!) and
  have <a href="https://github.com/hchapman">everything available on
  my github account</a>. I've detailed my more substantial projects
  on the <a>projects page</a>.</p>
<p>If you're the type of person to play favorites, this should help
  sum me up: My favorite editor is Emacs. My favorite mathematical
  software package is SAGE. My favorite programming language is
  Python (in fact, this webpage runs on it!). Feel free to argue with
  me if you disagree.</p>

<h2 class="content">Teaching</h2>
<p>For the 2012-2013 school year, I have no teaching duties. In the
  past, I have run recitations for calculus (Math 2200).</p>
{% endblock %}
