{% extends "base.html" %}

{% block nav_tab_research %}<li class="active">
<a href="/research">Research</a>
</li>{% endblock %}

{% block main_content %}
<div class="row">

  <div class="span12">
    <h2 class="content">Current Research</h2>
    <p>My research interests primarily lie within Topology and Geometry. I
      am studying under the direction
      of <a href="http://www.jasoncantarella.com">Jason
        Cantarella</a>.</p>

    <h2 class="content">Previous Research</h2>
    <p>In the summer of 2010, I took part in an REU where we tried to
      answer questions about Sudoku (with M. Rupert, mentor
      E. Arnold): <a href="http://digitalarchive.gsu.edu/caaurj/vol3/iss1/3/">A
        Group-theoretic Approach to Human Solving Strategies in
        Sudoku</a>. During my senior year at Bowdoin (2010-2011), I wrote an
      Honors thesis on orbital varieties in GL(<em>n</em>) and the Smith
      conjecture (advisor
      T. Pietraho): <a href="http://bowdoin.aquabrowser.com/?itemid=|library/m/iii-bowdoin|b28667785">On
        orbital varieties of type A</a>.</p>

  </div>

</div>
{% endblock main_content %}
