div.page{
    background-color: #eee;
}

div.header, div.footer{
    background-color: #ddd;
}

h1.header_name{
    margin-bottom: -.2em;
}

h2.header_secondary{
    font-size:13pt;
    margin-bottom: -.2em;
}

div.nav{
    background-color: #bbb;
    height: 2em;
    margin-bottom: .5em;
}

div.nav_option{
    line-height: 2em;
    text-align: center;
    background-color: #ccc;
    height: 100%;
}

div.nav_option a{
    color: blue;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
}

div.nav_option:hover{
    background-color: #aaa;
}

div.main_content {
    min-height: 20em;
}

h1.content{
    font-size:15pt;
    margin: 0px;
}

div.photo{
    text-align: center;
}

img.self_picture {
    width: 100%;
}

.disclaimer {
    font-size:8pt;
    color: #aaa;
}
